@inherits LayoutComponentBase
@inject Bus _bus

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div>
    <MudPaper Elevation="25" Class="p-2">
        <MudToolBar>
            <MudText Typo="Typo.h4" Class="mr-5">ViRe</MudText>
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.CloudUpload" Size="Size.Large" OnClick="() => _bus.Publish(new OpenModalUpload())" />
        </MudToolBar>
    </MudPaper>
    <article class="content px-4">
        @Body
    </article>
</div>
